.header {
  height: 110vh;
  width: 100%;
  /* background-size: 100% 105vh;
    background-image: url(../../assets/hero.png);
    background-position: top;
    background-repeat: no-repeat; */
  position: relative;
}
.hero {
  height: 105vh;
  width: 100%;
}
.navbar {
  position: absolute;
  top: 3%;
  left: 3%;
  right: 3.5%;
  width: 90%;
}
.header h1 {
  font-family: "Uni Sans Heavy", sans-serif;
  position: absolute;
  top: 33%;
  left: 5%;
  font-size: 5rem;
  color: white;
  letter-spacing: 1rem;

  line-height: 1.2;
}
.blue-rectangle {
  background-color: #569be3;
  width: 32rem;
  height: 6rem;
  display: inline-block;
  text-align: start;
  line-height: 0.9;
}

.BookingForm {
  position: absolute;
  width: 80%;
  height: 10rem;
  left: 10%;
  right: 10%;
  bottom: -4rem;
  z-index: 1;
}
.future {
  font-size: 7rem;
  font-family: "Uni Sans Heavy Italic";
}

.header .swiper {
  z-index: -1;
}

.header .swiper-pagination-bullets {
  position: absolute;
  padding-bottom: 7rem;
}
.header .swiper-pagination-bullet {
  background: rgb(255, 255, 255, 0.7);
  width: 18px;
  height: 18px;
}

.header .swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}
